html {
  margin: 0;
  padding: 0; }
  html body {
    background: #FAFAFA; }
    html body textarea {
      resize: vertical; }

.contentInt {
  background: #fff;
  width: 70%;
  height: auto;
  margin: 0 auto;
  box-shadow: 5px 5px 1px #A4A4A4;
  border-style: solid;
  border-color: #B2B2B2;
  border-width: 1px;
  padding: 35px; }

#map_canvas {
  margin-top: 25px;
  width: 100%;
  height: 300px; }

#map_canvasDetalle {
  width: 100%;
  height: 200px; }

.rojo {
  background: red; }

.moreEAT {
  font-size: 30px;
  color: #3D9970; }

.moreEATW {
  font-size: 30px;
  color: #fff; }

.topEAT {
  margin-top: 15px; }

.txt-oscuro {
  font-weight: bold; }

.formsDetalleProspectos input:disabled {
  border: none;
  background: none; }
.formsDetalleProspectos select:disabled {
  border: none;
  background: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

.inputRadio {
  display: none; }

.pegarLabel {
  width: 100%;
  padding: 5px;
  padding-left: 15px;
  text-align: left; }
  .pegarLabel:hover {
    background: #DFDFDF; }

.divliEAT {
  color: #197CDF;
  text-decoration: none; }
  .divliEAT:hover {
    background: none;
    cursor: pointer;
    text-decoration: none;
    color: #197CDF; }
  .divliEAT:active {
    text-decoration: none;
    color: #197CDF; }
  .divliEAT:link {
    text-decoration: none;
    color: #197CDF; }
  .divliEAT:visited {
    text-decoration: none;
    color: #197CDF; }

.holaEAt {
  background: red; }

.icon-ellipsis-v {
  padding: 7px; }

.labelSinEstilos {
  font-weight: 100; }

.mouseNormarl {
  cursor: auto; }

.paginacionStyle {
  text-align: center;
  list-style: none; }
  .paginacionStyle a {
    text-decoration: none;
    padding: 10px;
    margin: 0;
    color: #197CDF; }
  .paginacionStyle li {
    display: inline-block;
    margin: 5px; }
  .paginacionStyle .activeEAT {
    color: #3D9970;
    font-weight: bold; }

.txt-inline {
  margin: 0;
  padding: 0;
  display: inline;
  margin-top: -20px; }

.RightEAT {
  float: right; }

/* detalleprospectos */
.content-header-prospectos {
  display: flex;
  justify-content: center;
  zoom: 1.2; }

.nombre-prospecto {
  margin: 10; }

.conent-btn-menu-vendedor {
  position: absolute;
  width: 35px;
  height: 35px;
  background: #197CDF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-left: 15px;
  margin-top: 15px;
  display: none; }
  .conent-btn-menu-vendedor span {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: white; }
  .conent-btn-menu-vendedor:hover {
    background: #2567A9;
    cursor: pointer; }

.circuloEAT {
  width: 55px;
  height: 55px;
  background: #197CDF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 0; }
  .circuloEAT p {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: white;
    font-weight: bold; }

.content-nombre-opciones-prospecto {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; }
  .content-nombre-opciones-prospecto .nombre-prospecto {
    margin: 0; }
  .content-nombre-opciones-prospecto .btn-modificar-prospecto {
    background: #197CDF;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; }
    .content-nombre-opciones-prospecto .btn-modificar-prospecto:hover {
      background: #2567A9;
      cursor: pointer;
      opacity: 0.7; }

.cuadradoEAT {
  background: #197CDF;
  color: #fff;
  padding: 3px; }

.content-info-prospecto {
  margin-right: 10px; }
  .content-info-prospecto .direccion-prospecto {
    margin-right: 20px;
    margin-top: 3px; }

.content-meno-prsopectos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.btn-menu-prospecto {
  margin: 10px;
  margin-left: 45px; }

/*encabezado vendedor */
.content-img-personal-vendedor img {
  width: 130px; }

.txt-nombre-vendedor {
  margin-left: 10px; }

.content-menu-vendedor-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.txt-nombre-vendedor {
  color: #fff; }

.quitar-style-button {
  background: none;
  margin: none;
  border: none; }

.MenuPrincipalEAT {
  z-index: 4; }

.cabezera-red7-vendedor {
  display: none;
  background: #fff;
  height: 65px;
  flex-flow: row wrap;
  justify-content: center; }
  .cabezera-red7-vendedor img {
    width: 60px;
    height: 60px; }

/*encabezado vendedor */
/* ESTILOS DE LA VISTA DE PROSPECTOS */
.content-btn-principal-vista-prospecto {
  display: flex;
  justify-content: space-between; }

/* ESTILOS DE LA VISTA DE PROSPECTOS */
/*ESTILOS OPORTUNIDADES */
.content-items-opotunidad {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.content-oportunides-altaOportunidad {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.inputOportunidad {
  background: #197CDF; }

.content-btn-agregar-oportunidad, .content-costo-instalacion, .content-btns-oportunidades {
  margin-top: 10px;
  margin-left: 7px; }

/*ESTILOS OPORTUNIDADES */
/* ESTILOS CONTACTOS -- NOTAS */
.textarea-nuevaNota-contacto {
  width: 100%;
  height: 100px;
  border-style: solid;
  border-width: 2px;
  border-color: #197CDF;
  border-radius: 5px; }

.notasContenedor {
  margin-bottom: 20px; }

.cuadroNotas {
  display: inline-block;
  width: 100%;
  background: #197CDF;
  color: #fff;
  padding: 5px;
  margin: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }
  .cuadroNotas p {
    display: inline; }
  .cuadroNotas span {
    display: inline;
    float: right; }

.cuadroNotasInf {
  height: auto;
  margin-top: 1px;
  background: #DDDDDD;
  padding: 5px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; }

.textareaDisfrasada {
  background: #DDDDDD;
  outline: none;
  overflow: auto;
  border: none;
  width: 100%;
  padding: 5px;
  border-style: solid;
  border-top: none;
  border-bottom-width: 3px;
  border-color: #197CDF;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.btnsNotasGuardadas {
  margin-top: -5px;
  margin-bottom: 15px; }

/* ESTILOS CONTACTOS -- NOTAS */
/*ESTILOS CITAS */
.contents-items {
  margin-bottom: 15px; }

/*ESTILOS CITAS */
/* ESTILOS CONFIGURACION COTIZACION */
.form-config-cotizacion textarea {
  border: solid #197CDF 1.5px; }

/* ESTILOS CONFIGURACION COTIZACION */
/* COMPONENTES      COMPONENTES       COMPONENTES */
.circulo-material {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .circulo-material:hover {
    opacity: 0.8;
    cursor: pointer; }

.id-prospecto-paginar-prospectos {
  width: 30px;
  height: 30px;
  color: #fff; }
  .id-prospecto-paginar-prospectos p {
    padding: 0;
    margin: 0; }

.btn-agregar-plus {
  background: #197CDF;
  width: 30px;
  height: 30px;
  color: #fff; }

.btn-guardar {
  margin-top: 15px; }

.row {
  padding: 15px; }

.tableEAT thead tr th {
  text-align: left; }

/* COMPONENTES      COMPONENTES       COMPONENTES */
@media screen and (min-width: 993px) {
  .btn-menu-vendedor {
    margin: 5px;
    width: 150px;
    height: 50px;
    border: 1px solid #fafafa;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    color: #9A9A9A;
    font-size: 18px; }
    .btn-menu-vendedor:hover {
      background: rgba(8, 166, 95, 0.8);
      color: #fff;
      cursor: pointer; }
    .btn-menu-vendedor .content-elementos-menu-vendedor {
      text-align: center; }

  .btn-cerrar-sesion {
    text-align: center; }

  .txt-nombre-vendedor {
    color: black;
    font-size: 18px; }

  .content-img-personal-vendedor {
    margin-left: 10%; }

  .txt-rfc-detalle-prospecto {
    display: inline-block;
    margin-top: 5px; }

  .content-descripcion-oportunidad {
    width: 70%; }

  .content-descripcion-oportunidad-guardar {
    width: 74%; }

  .content-boteBasura-oportunidad {
    width: 1%; }

  .content-costo-oportunidad {
    width: 20%; }

  .items-oportunidades {
    margin-left: 10px;
    margin-right: 10px; }

  .elementos-oportunidades-cotizacion {
    height: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .elementos-oportunidades-cotizacion input {
      width: 100%;
      height: 100%; }
    .elementos-oportunidades-cotizacion label {
      text-align: center;
      width: 20px;
      height: 20px;
      color: white;
      padding: 15px; }

  .item-oportunidad {
    width: 48%; }
    .item-oportunidad:first-child {
      margin-right: 15px; }

  .sn-margin-left {
    padding-left: 0 !important; }

  .sn-margin-right {
    padding-right: 0 !important; }

  /*escritorio */ }
@media screen and (max-width: 992px) {
  html body {
    margin: 0;
    padding: 0; }

  .content-meno-prsopectos, .content-header-prospectos {
    zoom: 0; }

  .btn-menu-prospecto {
    margin: 0;
    margin-left: 0; }
    .btn-menu-prospecto h4 {
      font-size: 14px;
      margin: 5px;
      padding: 0; }

  .conent-btn-menu-vendedor {
    position: absolute;
    display: flex;
    left: 0; }

  .MenuPrincipalEAT {
    position: absolute;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100%;
    bottom: 0;
    z-index: 6;
    padding: 0;
    flex-flow: column wrap;
    justify-content: space-around;
    transition: 0.3s; }

  .MenuPrincipalEAT.active {
    left: 0; }

  .btn-cerrar-sesion button {
    width: 100%;
    text-align: left; }

  .btn-menu-vendedor {
    padding: 10px;
    padding-left: 15px;
    font-size: 18px; }
    .btn-menu-vendedor button {
      margin: 0;
      padding: 0; }
    .btn-menu-vendedor:hover {
      background: rgba(8, 166, 95, 0.8);
      cursor: pointer; }
    .btn-menu-vendedor .icono-menu-principal-vendedor {
      color: #DDDDDD; }
    .btn-menu-vendedor .texto-menu-vendedor {
      color: #fff;
      margin-left: 10px; }

  .cabezera-red7-vendedor {
    display: flex; }

  .content-menu-vendedor-items {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around; }

  .items-oportunidades {
    margin-left: 5px;
    margin-right: 5px; }

  .content-descripcion-oportunidad {
    width: 60%; }

  .content-descripcion-oportunidad-guardar {
    width: 70%; }

  .content-boteBasura-oportunidad {
    width: 1%;
    margin-right: 15px; }

  .content-costo-oportunidad {
    width: 20%; }

  .elementos-oportunidades-cotizacion {
    height: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .elementos-oportunidades-cotizacion input {
      width: 100%;
      height: 100%; }
    .elementos-oportunidades-cotizacion label {
      text-align: center;
      width: 10px;
      height: 10px;
      color: white;
      padding: 15px; }

  .item-oportunidad {
    width: 100%; }
    .item-oportunidad:first-child {
      margin-right: 0; }

  .content-items-menu-vendedor {
    position: fixed;
    background: red;
    width: 70%;
    height: 200%;
    background: rgba(70, 76, 107, 0.8); }

  .btn-guardar {
    margin-top: 5px; }

  .sn-margin-left {
    margin-bottom: 10px;
    padding: 0 !important; }

  .sn-margin-right {
    margin-bottom: 10px;
    padding: 0 !important; } }
@media screen and (max-width: 768px) {
  .contentInt {
    width: 100%; }

  .content-meno-prsopectos, .content-header-prospectos {
    zoom: 0; }

  .btn-menu-prospecto {
    margin: 0;
    margin-left: 0; }
    .btn-menu-prospecto h4 {
      font-size: 14px;
      margin: 5px;
      padding: 0; }

  .content-tabla-prospectos {
    overflow: auto; } }
@media screen and (max-width: 480px) {
  .contentInt {
    width: 100%;
    padding: 10px; }

  .btn-menu-prospecto {
    margin: 0;
    padding: 0; }
    .btn-menu-prospecto h4 {
      font-size: 14px;
      margin: 5px;
      padding: 0; }

  .content-meno-prsopectos, .content-header-prospectos {
    zoom: 0; }

  .content-img-personal-vendedor {
    background: #5D648D;
    padding: 10px; }
    .content-img-personal-vendedor img {
      width: 75px;
      height: 75px; } }
/* detalleprospectos */

/*# sourceMappingURL=styleEAT.css.map */
